/*
!.gitignore
.env
!docker-compose.yml
!*.md
!rpa_aws.cmd

!AWS/
AWS/aws.env

!docker/

docker/*
!docker/managementconsole

docker/managementconsole/*
!docker/managementconsole/managementconsole.sh
!docker/managementconsole/managementconsole_configure.sh
!docker/managementconsole/managementconsole_unused.sh
!docker/managementconsole/backup/

!docker/roboserver/*
!docker/roboserver/roboserver.sh
!docker/roboserver/Dockerfile
docker/README.md
