/*
!.gitignore
.env
!docker-compose.yml
!*.md
!rpa_aws.cmd

!docker/

docker/*
!docker/managementconsole

docker/managementconsole/*
!docker/managementconsole/managementconsole.sh
!docker/managementconsole/managementconsole_configure.sh
!docker/managementconsole/*.zip

!docker/roboserver/*
!docker/roboserver/roboserver.sh
!docker/roboserver/Dockerfile
