env.bat
!.gitignore
API/*
documentation/*
icons/*
bin/*
java/*
jre/*
lib/*
nativelib/*
lang/*
Resources/*
WebApps/*
docker/*
helm/*
.env
!*.md
helm/README.md
docker/README.md
docker-compose-11.4.0.0.yml
